




.example-form {

  padding-top: 50px;
  width:985px; margin:0 auto

}

.example-full-width {
  width: 100%;
 }
 .td {
  padding-right: 8px;
   }


   .EditButton {

    margin-left: 200px;
    background-color: aquamarine;
   }

   .page-header {
    padding: 5px;
    text-align: center;
    background: whiet;
    color: black;
    font-size: 30px;

   }




